{% extends "core/base.html" %}
{% block title %}Details | Drive Inspector{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% include 'core/navbar.html' %}
<div class="container pb-5">
    <a href="/"> Home </a>/
    <a href="/detection-ocr/{{detection_details['camera_feed_id']}}"> Detection Results </a>/
    <a href="/detection-ocr/details/{{detection_details['detection_ocr_id']}}"> Details </a>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Reg No.</th>
            <td>
              {{detection_details['reg_no']}}
            </td>
          </tr>
          <tr>
            <th scope="row">Croped Number Plate</th>
            <td>
              <div style="height: 80px; width: 200px">
                <canvas id="croppedImageCanvas"></canvas>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Confidence</th>
            <td>
              {{detection_details['conf']}}
            </td>
          </tr>
          <tr>
            <th scope="row">Detected At</th>
            <td id="created_at">
              {{ detection_details['created_at'] | convert_timezone(target_timezone) }}
            </td>
          </tr>
          <tr>
            <th scope="row">Pollution Under Control</th>
            <td>
              {{vehicle_details['puc_details']['puc_from'] | convert_timezone_date(target_timezone)}}
                to
              {{vehicle_details['puc_details']['puc_upto'] | convert_timezone_date(target_timezone)}}
              {% if vehicle_details['puc_details']['puc_upto']|is_date_expired(target_timezone) %}
                <p style="color: green">Valid &#9989;</p>
              {% else %}
                <p style="color: red">Expired &#10060;</p>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Insurance Policy</th>
            <td>
              {{vehicle_details['insurance_details']['insurance_from'] | convert_timezone_date(target_timezone)}}
                to
              {{vehicle_details['insurance_details']['insurance_upto'] | convert_timezone_date(target_timezone)}}
              {% if vehicle_details['insurance_details']['insurance_upto']|is_date_expired(target_timezone) %}
                <p style="color: green">Valid &#9989;</p>
              {% else %}
                <p style="color: red">Expired &#10060;</p>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      <a href="/detection-ocr/delete/{{detection_details['detection_ocr_id']}}/{{detection_details['camera_feed_id']}}">
        <button type="button" class="btn btn-danger">Delete</button>
      </a>
      &nbsp;&nbsp;&nbsp;
      <a href="/detection-ocr/edit/{{detection_details['detection_ocr_id']}}">
        <button type="button" class="btn btn-info">Edit</button>
      </a>
    </div>
    <div class="col-6">
      <div style=" width: 650px;">
        <canvas id="myCanvas"></canvas>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
  </div>
  <br>
  <br>
  <br>

  <script>
    var canvas = document.getElementById('myCanvas');
    var ctx = canvas.getContext('2d');

    var img = new Image();
    img.src = "{{detection_details['img_url']}}";

    img.onload = function () {

      canvas.width = img.width;
      canvas.height = img.height;

      ctx.drawImage(img, 0, 0);

      // Coordinates of the bounding box (x1, y1, x2, y2)
      const cord = "{{detection_details['xyxy']}}";

      // Extract the numeric parts from the string
      const numericPart = cord.replace(/[^\d.,]/g, '');

      // Split the numeric string by comma and convert to array of numbers
      const cordArray = numericPart.split(',').map(Number);
      console.log(cordArray)

      var x1 = Math.round(cordArray[0]);
      var y1 = Math.round(cordArray[1]);
      var x2 = Math.round(cordArray[2]);
      var y2 = Math.round(cordArray[3]);

      // Draw the bounding box
      ctx.strokeStyle = 'red'; // Set bounding box color
      ctx.lineWidth = 8; // Set bounding box line width
      ctx.rect(x1, y1, x2 - x1, y2 - y1); // Draw the bounding box
      ctx.stroke();
    };
  </script>
  <script>
    // Function to load and display the cropped image
    var img1 = new Image();
    var canvas1 = document.getElementById("croppedImageCanvas");
    var ctx1 = canvas1.getContext("2d");
    var imgUrl1 = "{{detection_details['img_url']}}";
    var xyxy1 = {{ detection_details['xyxy']}}; // Ensure this is formatted as a JavaScript array

    // Load the image
    img1.onload = function () {
      // Calculate the coordinates for cropping
      var x1 = xyxy1[0];
      var y1 = xyxy1[1];
      var x2 = xyxy1[2];
      var y2 = xyxy1[3];
      var width = x2 - x1;
      var height = y2 - y1;

      // Set canvas width and height
      canvas1.width = width;
      canvas1.height = height;

      // Draw the cropped portion of the image onto the canvas
      ctx1.drawImage(img1, x1, y1, width, height, 0, 0, width, height);
    };
    // Set the image source to the provided URL
    img1.src = imgUrl1;
  </script>
  {% endblock %}