{% extends "core/base.html" %}
{% block title %}Update | Drive Inspector{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% include 'core/navbar.html' %}
<div class="container pb-5">
    <a href="/"> Home </a>/
    <a href="/detection-ocr/{{detection_details['camera_feed_id']}}"> Detection Results </a>/
    <a href="/detection-ocr/details/{{detection_details['detection_ocr_id']}}"> Details </a>/
    <a href="/detection-ocr/edit/{{detection_details['detection_ocr_id']}}"> Edit </a>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Update Details
                </div>
                <div class="card-body">
                    <form method="post" action="/detection-ocr/update/{{detection_details['detection_ocr_id']}}">
                        <div class="form-group">
                            <label>Reg Number</label>
                            <input value="{{detection_details['reg_no']}}" type="text"
                                   class="form-control" name="reg_no" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}