<div>
    <nav class="navbar navbar-expand-md fixed-top">
        <a class="navbar-brand" href="/"><img  src="/static/logo/di-logo-zip-file/png/logo-no-background.png" height="50"></a>&nbsp;
<!--        <a class="navbar-brand" href="/">Drive Inspector</a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>



        <div class="collapse navbar-collapse pr-5" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
<!--              <li class="nav-item active">-->
<!--                <a class="nav-link" onclick="window.location.href='/'">Home <span class="sr-only">(current)</span></a>-->
<!--              </li>-->
            </ul>
            <div class="dot" id="statusDot"></div>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-success" id="start-service">Start</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-danger" id="stop-service">Stop</button>
          </div>
        <button onclick="window.location.href='user/logout'" type="button" class="btn btn-outline-danger">Logout</button>
    </nav>
</div>