<div class="container">
    <div class="d-flex flex-row-reverse">
    <button onclick="window.location.href='/add'" type="button"
            class="btn btn-info">
        Add Feed</button>
    </div>
    <br>
    <div class="card text-center">
        <div class="card-header">
            Feed List
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Preview</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for camera_feed in camera_feed_list %}
                    <tr class="pointer">
                        <td>{{loop.index}}</td>

                        <td>{{ camera_feed.created_at | convert_timezone(target_timezone) }}</td>
                        <td>
                        <video data-toggle="modal" data-target="#exampleModalCenter" width="100px" src="{{camera_feed.media_url}}" autoplay loop></video>
                        <!-- Modal -->
                        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div style="width: inherit" class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="width: inherit">
                              <div style="width: inherit" class="modal-body">
                                  <video style="width: inherit" src="{{camera_feed.media_url}}" controls loop></video>
                              </div>
                            </div>
                          </div>
                        </div>
                        </td>
                        <td>
                            <button class="btn btn-info" onclick="window.location.href='/detection-ocr/{{camera_feed.camera_feed_id}}'">
                                Detection
                            </button>
                            <button onclick="window.location.href='/edit/{{camera_feed.id}}'; event.stopPropagation();" type="button"
                                class="btn btn-success">Update
                            </button>
                            <button onclick="window.location.href='/delete/{{camera_feed.id}}'; event.stopPropagation();" type="button"
                                class="btn btn-danger">Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if camera_feed_list|length == 0 %}
            <p class="card-text">No Feed found!</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function openDetectionOcrDetails(cameraFeedId) {
    // Redirect to the detection OCR details page
    window.location.href = '/detection-ocr/' + cameraFeedId;
}

function openUpdatePage(id) {
    // Redirect to the update page
    window.location.href = '/edit/' + id;
}

function openDeletePage(id) {
    // Redirect to the delete page
    window.location.href = '/delete/' + id;
}

// Open modal when video is clicked
document.querySelectorAll('video').forEach(video => {
    video.addEventListener('click', function() {
        // Get the modal associated with this video
        const modalId = this.dataset.target;
        const modal = document.querySelector(modalId);

        // Open the modal
        $(modal).modal('show');
    });
});

</script>