{% extends "core/base.html" %}
{% block title %}Vehicle Details{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% include 'core/navbar.html' %}
<div class="container pb-5">
    <a href="/"> Home </a>/
    <a href="/details/{{vehicle_details['id']}}"> Details </a>/
    <a href="/edit/{{vehicle_details['id']}}"> Edit </a>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Update Details
                </div>
                <div class="card-body">
                    {% if msg %}
                    {% if msg == 'Logout Successful' or msg == 'User successfully created' %}
                    <div class="alert alert-success" role="alert">
                        {{msg}}
                    </div>
                    {% else %}
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                    {% endif %}
                    {% endif %}
                    <form method="post" action="/update/{{vehicle_details['id']}}">
                        <div class="form-group">
                            <label>Reg Number</label>
                            <input value="{{vehicle_details['reg_no']}}" type="text"
                                   class="form-control" name="reg_no" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}