<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Detected Numberplate
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Reg No.</th>
                        <th scope="col">Time</th>
                        <th scope="col">Confidence</th>
                        <th scope="col">PUC | Insurance</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicle_details_list %}
                    <tr class="pointer">
                        <td>{{loop.index}}</td>
                        <td>{{vehicle.reg_no}}</td>
                        <td>{{ vehicle.created_at | convert_timezone(target_timezone) }}</td>
                        <td>{{vehicle.conf}}</td>
                        <td>
                            <div class="row justify-content-center">
                          {% if vehicle.puc_upto|is_date_expired(target_timezone) %}
                            <p style="color: green">&#9989;</p>
                          {% else %}
                            <p style="color: red">&#10060;</p>
                          {% endif %}&nbsp;&nbsp;{% if vehicle.insurance_upto|is_date_expired(target_timezone) %}
                            <p style="color: green">&#9989;</p>
                          {% else %}
                            <p style="color: red">&#10060;</p>
                          {% endif %}
                                </div>
                        </td>
                        <td>
                            <!--                            <button onclick="window.location.href='/v1/vehicle_details/get_image?file_path={{vehicle.img_url}}'"-->
                            <!--                                type="button" class="btn btn-info">Image-->
                            <!--                            </button>-->
                            <button onclick="window.location.href='/details/{{vehicle.id}}'" type="button"
                                class="btn btn-info">Vehicle Info
                            </button>
                            <button onclick="window.location.href='/delete/{{vehicle.id}}'" type="button"
                                class="btn btn-danger">Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if vehicle_details_list|length == 0 %}
            <p class="card-text">No vehicle detection found!</p>
            {% endif %}
        </div>
    </div>
</div>