<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', path='css/base.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', path='css/bootstrap.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% include 'navbar.html' %}
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}{% endblock %}
</div>
<script>

const start_service = document.getElementById('start-service');
const stop_service = document.getElementById('stop-service');

start_service.addEventListener('click', function () {
    fetch('http://0.0.0.0:8000/v1/drive-inspector/start')
        .then(function (result) {
            console.log(result);
        })
        .catch(function (err) {
            console.error(err);
        });
    updateDotColor();
});
stop_service.addEventListener('click', function () {
    fetch('http://0.0.0.0:8000/v1/drive-inspector/stop')
        .then(function (result) {
            console.log(result);
        })
        .catch(function (err) {
            console.error(err);
        });
    updateDotColor();
});

async function updateDotColor() {
    try {
        const response = await fetch('http://0.0.0.0:8000/v1/drive-inspector/status');
        const data = await response.json();
        const statusDot = document.getElementById('statusDot');
        if (data.status === true) {
            statusDot.classList.remove('red');
            statusDot.classList.add('green');
        } else {
            statusDot.classList.remove('green');
            statusDot.classList.add('red');
        }
    } catch (error) {
        console.error('Error fetching API:', error);
    }
}

// Call the function initially and then every few seconds
updateDotColor();
setInterval(updateDotColor, 5000); // Update every 5 seconds
</script>
<script src="{{ url_for('static', path='js/jquery-slim.js') }}"></script>
<script src="{{ url_for('static', path='js/popper.js') }}"></script>
<script src="{{ url_for('static', path='js/bootstrap.js') }}"></script>
</body>
</html>