{% extends "base.html" %}
{% block title %}Vehicle Details{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
  <div class="d-flex justify-content-center">
    <div style="width: 700px">

    <table class="table table-striped">
      <tbody>
          {% for i, j in vehicle_details.items() %}
          {% if i=='revision_id' or i == 'img_url' or i == 'cord' or i == 'id' or i == 'xyxy'%}
          {%else%}
          <tr>
            <th scope="row">{{i}}</th>
            <td>{{j}}</td>
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>
    <img id="vehicle-image" src="http://0.0.0.0:8001/v1/vehicle_details/image" alt="Example Image" width="800px" style="display: none">
    <div style="height: 500px; width: 800px;">
        <canvas id="myCanvas"></canvas>
    </div>
    </div>
  </div>
<br>
<br>
<br>

<script>
    var canvas = document.getElementById('myCanvas');
    var ctx = canvas.getContext('2d');

    var img = new Image();
    img.src = 'http://0.0.0.0:8001/v1/vehicle_details/image';

    img.onload = function() {

    canvas.width = img.width;
    canvas.height = img.height;

    ctx.drawImage(img, 0, 0);

    // Coordinates of the bounding box (x1, y1, x2, y2)
    const cord = "{{vehicle_details['xyxy']}}";

    // Extract the numeric parts from the string
    const numericPart = cord.replace(/[^\d.,]/g, '');

    // Split the numeric string by comma and convert to array of numbers
    const cordArray = numericPart.split(',').map(Number);
        console.log(cordArray)

      var x1 = Math.round(cordArray[0]);
      var y1 = Math.round(cordArray[1]);
      var x2 = Math.round(cordArray[2]);
      var y2 = Math.round(cordArray[3]);

      // Draw the bounding box
      ctx.strokeStyle = 'red'; // Set bounding box color
      ctx.lineWidth = 8; // Set bounding box line width
      ctx.rect(x1, y1, x2 - x1, y2 - y1); // Draw the bounding box
    ctx.stroke();
    };
</script>
{% endblock %}
